body {background-color: #525252; text-align: center;}
h1 {animation: blinker 3.8s linear infinite; color: #ff00ff; text-align: center;} @keyframes blinker {50% {opacity: 0;}}
p {text-align: center; color: #E3DAC9;}
