::selection {
	background-color: #089063;
	color: #ffffff;
}

body {
    background-color: #0f172a;
    background: linear-gradient(115deg, #0f172a 0%, #1c2526 45%, #087f93 75%, #00a879 100%);
    color: #ffffff;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    animation: blinker 4s linear infinite;
    color: #00FFAB;
    font-size: 3rem;
}

@keyframes blinker {
    50% { opacity: 0; }
}

p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e0e0e0;
    max-width: 600px;
    margin-bottom: 4rem;
    line-height: 1.8;
}

a {
	background: #1a1a1a;
	color: #00ffcc;
	font-size: 1.1rem;
    font-weight:bold;
	border: 2px solid #00ffcc;
	border-radius: 50px;
	width: auto;
	padding: 0.9rem 1.2rem;
	overflow: hidden;
	transition: transform 0.3s ease;
	cursor: pointer;
    text-decoration:none;
}

a:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0, 255, 204, 0.4);
}


/* Responsive */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}